'use strict'

// font size(for font file) is 4.0 * intervalBetweenStaveLines
const MUSCIC_FONT_SOURCE_SIZE = 4.0 

export default function ({
  defaultIntervalBetweenStaveLines,
  intervalBetweenStaveLines,
  musicFontSource
}) {
  return {
    musicFontSource,
    musicFontSourceSize: 4.0,
    staveLineHeight: 0.12 * intervalBetweenStaveLines,
    accent: {
      unicode: __UNICODE:accent__,
      points: [
        __POINTS:accent.points__
      ],
      yOffset: 0.46 * intervalBetweenStaveLines
    },
    articulationSharpKey: {
      unicode: __UNICODE:articulationSharpKey__,
      points: [
        __POINTS:articulationSharpKey.points__
      ]
    },
    articulationFlatKey: {
      unicode: __UNICODE:articulationFlatKey__,
      points: [
        __POINTS:articulationFlatKey.points__
      ]
    },
    articulationNaturalKey: {
      unicode: __UNICODE:articulationNaturalKey__,
      points: [
        __POINTS:articulationNaturalKey.points__
      ]
    },
    yDistanceBetweenArticulationKeysInVerticalLine: 0.25 * intervalBetweenStaveLines,
    scaleFactorForArticulationKeys: 0.76,
    trill: {
      unicode: __UNICODE:trill__,
      points: [
        __POINTS:trill.points__
      ],
      yOffset: 0.6 * intervalBetweenStaveLines
    },
    turn: {
      unicode: __UNICODE:turn__,
      points: [
        __POINTS:turn.points__
      ],
      yOffset: 0.6 * intervalBetweenStaveLines
    },
    turnInverted: {
      unicode: __UNICODE:turnInverted__,
      points: [
        __POINTS:turnInverted.points__
      ],
      yOffset: 0.6 * intervalBetweenStaveLines
    },
    mordent: {
      unicode: __UNICODE:mordent__,
      points: [
        __POINTS:mordent.points__
      ],
      yOffset: 0.6 * intervalBetweenStaveLines
    },
    mordentInverted: {
      unicode: __UNICODE:mordentInverted__,
      points: [
        __POINTS:mordentInverted.points__
      ],
      yOffset: 0.6 * intervalBetweenStaveLines
    },
    fermata: {
      unicode: __UNICODE:fermata__,
      upPoints: [
        __POINTS:fermata.upPoints__
      ],
      downPoints: [
        __POINTS:fermata.downPoints__
      ],
      yOffset: 0.46 * intervalBetweenStaveLines
    },
    measureFermataOffsetY: 0.8 * intervalBetweenStaveLines,
    marcato: {
      unicode: __UNICODE:marcato__,
      upPoints: [
        __POINTS:marcato.upPoints__
      ],
      downPoints: [
        __POINTS:marcato.downPoints__
      ],
      yOffset: 0.46 * intervalBetweenStaveLines
    },
    downBow: {
      unicode: __UNICODE:downBow__,
      upPoints: [
        __POINTS:downBow.upPoints__
      ],
      downPoints: [
        __POINTS:downBow.downPoints__
      ],
      yOffset: 0.46 * intervalBetweenStaveLines
    },
    leftHandPizzicato: {
      unicode: __UNICODE:leftHandPizzicato__,
      points: [
        __POINTS:leftHandPizzicato.points__
      ],
      yOffset: 0.46 * intervalBetweenStaveLines
    },
    naturalHarmonic: {
      unicode: __UNICODE:naturalHarmonic__,
      points: [
        __POINTS:naturalHarmonic.points__
      ],
      yOffset: 0.46 * intervalBetweenStaveLines
    },
    upBow: {
      unicode: __UNICODE:upBow__,
      upPoints: [
        __POINTS:upBow.upPoints__
      ],
      downPoints: [
        __POINTS:upBow.downPoints__
      ],
      yOffset: 0.46 * intervalBetweenStaveLines
    },
    snapPizzicato: {
      unicode: __UNICODE:snapPizzicato__,
      upPoints: [
        __POINTS:snapPizzicato.upPoints__
      ],
      downPoints: [
        __POINTS:snapPizzicato.downPoints__
      ],
      yOffset: 0.46 * intervalBetweenStaveLines
    },
    spiccato: {
      unicode: __UNICODE:spiccato__,
      upPoints: [
        __POINTS:spiccato.upPoints__
      ],
      downPoints: [
        __POINTS:spiccato.downPoints__
      ],
      yOffset: 0.46 * intervalBetweenStaveLines
    },
    staccato: {
      unicode: '',
      points: [
        'M',
        0.25 * intervalBetweenStaveLines, 0.50 * intervalBetweenStaveLines,
        'C',
        0.39 * intervalBetweenStaveLines, 0.50 * intervalBetweenStaveLines, 0.50 * intervalBetweenStaveLines, 0.39 * intervalBetweenStaveLines, 0.50 * intervalBetweenStaveLines, 0.25 * intervalBetweenStaveLines,
        'C',
        0.50 * intervalBetweenStaveLines, 0.11 * intervalBetweenStaveLines, 0.39 * intervalBetweenStaveLines, 0.00 * intervalBetweenStaveLines, 0.25 * intervalBetweenStaveLines, 0.00 * intervalBetweenStaveLines,
        'C',
        0.11 * intervalBetweenStaveLines, 0.00 * intervalBetweenStaveLines, 0.00 * intervalBetweenStaveLines, 0.11 * intervalBetweenStaveLines, 0.00 * intervalBetweenStaveLines, 0.25 * intervalBetweenStaveLines,
        'C',
        0.00 * intervalBetweenStaveLines, 0.39 * intervalBetweenStaveLines, 0.11 * intervalBetweenStaveLines, 0.50 * intervalBetweenStaveLines, 0.25 * intervalBetweenStaveLines, 0.50 * intervalBetweenStaveLines,
        'Z'
      ],
      yOffset: 0.46 * intervalBetweenStaveLines
    },
    tenuto: {
      unicode: __UNICODE:tenuto__,
      points: [
        __POINTS:tenuto.points__
      ],
      yOffset: 0.46 * intervalBetweenStaveLines
    },
    treble: {
      unicode: __UNICODE:treble__,
      points: [
        __POINTS:treble.points__
      ],
      yCorrection: -4.0 * intervalBetweenStaveLines
    },
    bass: {
      unicode: __UNICODE:bass__,
      points: [
        __POINTS:bass.points__
      ],
      yCorrection: -2.57 * intervalBetweenStaveLines
    },
    alto: {
      unicode: __UNICODE:alto__,
      points: [
        __POINTS:alto.points__
      ],
      yCorrection: -2.05 * intervalBetweenStaveLines
    },
    trebleOctaveEightUp: {
      unicode: __UNICODE:trebleOctaveEightUp__,
      points: [
        __POINTS:trebleOctaveEightUp.points__
      ],
      yCorrection: -4.95 * intervalBetweenStaveLines
    },
    trebleOctaveEightDown: {
      unicode: __UNICODE:trebleOctaveEightDown__,
      points: [
        __POINTS:trebleOctaveEightDown.points__
      ],
      yCorrection: -4.95 * intervalBetweenStaveLines
    },
    trebleOctaveFifteenUp: {
      unicode: __UNICODE:trebleOctaveFifteenUp__,
      points: [
        __POINTS:trebleOctaveFifteenUp.points__
      ],
      yCorrection: -4.95 * intervalBetweenStaveLines
    },
    trebleOctaveFifteenDown: {
      unicode: __UNICODE:trebleOctaveFifteenDown__,
      points: [
        __POINTS:trebleOctaveFifteenDown.points__
      ],
      yCorrection: -4.95 * intervalBetweenStaveLines
    },
    yCorrectionsForMidMeasureClefs: {
      treble: 1.5  * intervalBetweenStaveLines,
      bass: 0.34  * intervalBetweenStaveLines,
      alto: 0.68  * intervalBetweenStaveLines,
      baritone: -1.32  * intervalBetweenStaveLines,
      mezzoSoprano: 1.68  * intervalBetweenStaveLines,
      soprano: 2.68  * intervalBetweenStaveLines,
      tenor: -0.32  * intervalBetweenStaveLines,
      octaveEightUp: 1.7  * intervalBetweenStaveLines,
      octaveEightDown: 1.5  * intervalBetweenStaveLines,
      octaveFifteenUp: 1.7  * intervalBetweenStaveLines,
      octaveFifteenDown: 1.5  * intervalBetweenStaveLines
    },
    darkNoteBody: {
      unicode: __UNICODE:darkNoteBody__,
      points: [
        __POINTS:darkNoteBody.points__
      ],
      yCorrection: -1.11 * intervalBetweenStaveLines
    },
    halfNoteBody: {
      unicode: __UNICODE:halfNoteBody__,
      points: [
        __POINTS:halfNoteBody.points__
      ],
      yCorrection: -1.11 * intervalBetweenStaveLines
    },
    wholeNoteBody: {
      unicode: __UNICODE:wholeNoteBody__,
      points: [
        __POINTS:wholeNoteBody.points__
      ],
      yCorrection: -1.09 * intervalBetweenStaveLines
    },
    ghostWholeNoteBody: {
      unicode: __UNICODE:ghostWholeNoteBody__,
      points: [
        __POINTS:ghostWholeNoteBody.points__
      ],
      yCorrection: -1.0 * intervalBetweenStaveLines
    },
    ghostHalfNoteBody: {
      unicode: __UNICODE:ghostHalfNoteBody__,
      points: [
        __POINTS:ghostHalfNoteBody.points__
      ],
      yCorrection: -1.0 * intervalBetweenStaveLines
    },
    ghostDarkNoteBody: {
      unicode: __UNICODE:ghostDarkNoteBody__,
      points: [
        __POINTS:ghostDarkNoteBody.points__
      ],
      yCorrection: -1.0 * intervalBetweenStaveLines
    },
    stemWidth: 0.14 * intervalBetweenStaveLines,
    verticalStemCorrectionForGhostNoteAtEdgeOfUnitBody: 0.25 * intervalBetweenStaveLines,
    verticalStemCorrectionForGhostHalfNoteAtEdgeOfUnitBody: 0.2 * intervalBetweenStaveLines,
    sharpKey: {
      unicode: __UNICODE:sharpKey__,
      points: [
        __POINTS:sharpKey.points__
      ],
      yCorrection: -2.785 * intervalBetweenStaveLines
    },
    sesquisharpKey: {
      unicode: __UNICODE:sesquisharpKey__,
      points: [
        __POINTS:sesquisharpKey.points__
      ],
      yCorrection: -2.82 * intervalBetweenStaveLines
    },
    demisharpKey: {
      unicode: __UNICODE:demisharpKey__,
      points: [
        __POINTS:demisharpKey.points__
      ],
      yCorrection: -2.695 * intervalBetweenStaveLines
    },
    doubleSharpKey: {
      unicode: __UNICODE:doubleSharpKey__,
      points: [
        __POINTS:doubleSharpKey.points__
      ],
      yCorrection: -1 * intervalBetweenStaveLines
    },
    naturalKey: {
      unicode: __UNICODE:naturalKey__,
      points: [
        __POINTS:naturalKey.points__
      ],
      yCorrection: -2.69 * intervalBetweenStaveLines
    },
    flatKey: {
      unicode: __UNICODE:flatKey__,
      points: [
        __POINTS:flatKey.points__
      ],
      yCorrection: -2.45 * intervalBetweenStaveLines
    },
    sesquiflatKey: {
      unicode: __UNICODE:sesquiflatKey__,
      points: [
        __POINTS:sesquiflatKey.points__
      ],
      yCorrection: -2.45 * intervalBetweenStaveLines
    },
    demiflatKey: {
      unicode: __UNICODE:demiflatKey__,
      points: [
        __POINTS:demiflatKey.points__
      ],
      yCorrection: -2.45 * intervalBetweenStaveLines
    },
    doubleFlatKey: {
      unicode: __UNICODE:doubleFlatKey__,
      points: [
        __POINTS:doubleFlatKey.points__
      ],
      yCorrection: -2.45 * intervalBetweenStaveLines
    },
    stavePaddingForAccidentals: 0.15 * intervalBetweenStaveLines,
    distanceBetweenKeysForSingleUnit: 0.3 * intervalBetweenStaveLines,
    distanceBetweenKeysAsNoteLettersForSingleUnit: 0.1 * intervalBetweenStaveLines,
    spaceAfterKeysForSingleUnits: 0.45 * intervalBetweenStaveLines,
    spaceAfterKeysForSingleUnitsBeforeCrossStaveUnitThatContainsNotesOnAdditionalStaveLines: 0.9 * intervalBetweenStaveLines,
    graceKeyOnStaveLineCenterYCorrections: {
      'doubleFlatKey': 0.5 * intervalBetweenStaveLines,
      'doubleSharpKey': 0.0 * intervalBetweenStaveLines,
      'flatKey': 0.5 * intervalBetweenStaveLines,
      'naturalKey': 0.0 * intervalBetweenStaveLines,
      'sharpKey': 0.0 * intervalBetweenStaveLines,
      'demiflatKey': 0.5 * intervalBetweenStaveLines,
      'sesquiflatKey': 0.5 * intervalBetweenStaveLines,
      'demisharpKey': 0.0 * intervalBetweenStaveLines,
      'sesquisharpKey': 0.0 * intervalBetweenStaveLines,
      'noteLetter': 0.0 * intervalBetweenStaveLines,
      'default': 0.0 * intervalBetweenStaveLines
    },
    graceKeyBetweenStaveLinesCenterYCorrections: {
      'doubleFlatKey': 0.4 * intervalBetweenStaveLines,
      'doubleSharpKey': 0.0 * intervalBetweenStaveLines,
      'flatKey': 0.4 * intervalBetweenStaveLines,
      'naturalKey': 0.0 * intervalBetweenStaveLines,
      'sharpKey': 0.0 * intervalBetweenStaveLines,
      'demiflatKey': 0.4 * intervalBetweenStaveLines,
      'sesquiflatKey': 0.4 * intervalBetweenStaveLines,
      'demisharpKey': 0.0 * intervalBetweenStaveLines,
      'sesquisharpKey': 0.0 * intervalBetweenStaveLines,
      'noteLetter': 0.0 * intervalBetweenStaveLines,
      'default': 0.0 * intervalBetweenStaveLines
    },
    coda: {
      unicode: __UNICODE:coda__,
      points: [
        __POINTS:coda.points__
      ],
      yOffset: 1 * intervalBetweenStaveLines
    },
    sign: {
      unicode: __UNICODE:sign__,
      points: [
        __POINTS:sign.points__
      ],
      yOffset: 1 * intervalBetweenStaveLines
    },
    measureRest: {
      unicode: __UNICODE:measureRest__,
      leftPoints: [
        __POINTS:measureRest.leftPoints__
      ],
      centerPoints: [
        __POINTS:measureRest.centerPoints__
      ],
      rightPoints: [
        __POINTS:measureRest.rightPoints__
      ],
      numberOfCentralSymbols: 7,
      centralSymbolXCorrection: -0.15 * intervalBetweenStaveLines,
      sidePadding: 4 * intervalBetweenStaveLines,
      leftYCorrection: -0.145 * intervalBetweenStaveLines,
      rightYCorrection: -0.145 * intervalBetweenStaveLines,
      centerYCorrection: 1.175 * intervalBetweenStaveLines
    },
    quadrupleWholeRest: {
      unicode: __UNICODE:quadrupleWholeRest__,
      points: [
        __POINTS:quadrupleWholeRest.points__
      ],
      yCorrection: -1 * intervalBetweenStaveLines
    },
    doubleWholeRest: {
      unicode: __UNICODE:doubleWholeRest__,
      points: [
        __POINTS:doubleWholeRest.points__
      ],
      yCorrection: 0 * intervalBetweenStaveLines
    },
    wholeRest: {
      unicode: __UNICODE:wholeRest__,
      points: [
        __POINTS:wholeRest.points__
      ],
      yCorrection: -0.525 * intervalBetweenStaveLines
    },
    halfRest: {
      unicode: __UNICODE:halfRest__,
      points: [
        __POINTS:halfRest.points__
      ],
      yCorrection: -0.575 * intervalBetweenStaveLines
    },
    quarterRest: {
      unicode: __UNICODE:quarterRest__,
      points: [
        __POINTS:quarterRest.points__
      ],
      yCorrection: -3.2 * intervalBetweenStaveLines
    },
    eighthRest: {
      unicode: __UNICODE:eighthRest__,
      points: [
        __POINTS:eighthRest.points__
      ],
      outlineRadiusX: 0.8 * intervalBetweenStaveLines,
      outlineRadiusY: 0.4 * intervalBetweenStaveLines,
      outlineLeftOffset: -0.3 * intervalBetweenStaveLines,
      outlineTopOffset: -0.4 * intervalBetweenStaveLines,
      yCorrection: -1.25 * intervalBetweenStaveLines
    },
    sixteenthRest: {
      unicode: __UNICODE:sixteenthRest__,
      points: [
        __POINTS:sixteenthRest.points__
      ],
      outlineRadiusX: 0.8 * intervalBetweenStaveLines,
      outlineRadiusY: 0.4 * intervalBetweenStaveLines,
      outlineLeftOffset1: 0.0 * intervalBetweenStaveLines,
      outlineTopOffset1: -1.4 * intervalBetweenStaveLines,
      outlineLeftOffset2: -0.3 * intervalBetweenStaveLines,
      outlineTopOffset2: -0.4 * intervalBetweenStaveLines,
      yCorrection: -3.25 * intervalBetweenStaveLines
    },
    thirtySecondRest: {
      unicode: __UNICODE:thirtySecondRest__,
      points: [
        __POINTS:thirtySecondRest.points__
      ],
      outlineRadiusX: 0.8 * intervalBetweenStaveLines,
      outlineRadiusY: 0.4 * intervalBetweenStaveLines,
      outlineLeftOffset1: 0.15 * intervalBetweenStaveLines,
      outlineTopOffset1: -1.4 * intervalBetweenStaveLines,
      outlineLeftOffset2: -0.075 * intervalBetweenStaveLines,
      outlineTopOffset2: -0.4 * intervalBetweenStaveLines,
      outlineLeftOffset3: -0.3 * intervalBetweenStaveLines,
      outlineTopOffset3: 0.6 * intervalBetweenStaveLines,
      yCorrection: -3.25 * intervalBetweenStaveLines
    },
    sixtyFourthRest: {
      unicode: __UNICODE:sixtyFourthRest__,
      points: [
        __POINTS:sixtyFourthRest.points__
      ],
      outlineRadiusX: 0.8 * intervalBetweenStaveLines,
      outlineRadiusY: 0.4 * intervalBetweenStaveLines,
      outlineLeftOffset1: 0.3 * intervalBetweenStaveLines,
      outlineTopOffset1: -2.4 * intervalBetweenStaveLines,
      outlineLeftOffset2: 0.1 * intervalBetweenStaveLines,
      outlineTopOffset2: -1.4 * intervalBetweenStaveLines,
      outlineLeftOffset3: -0.1 * intervalBetweenStaveLines,
      outlineTopOffset3: -0.4 * intervalBetweenStaveLines,
      outlineLeftOffset4: -0.3 * intervalBetweenStaveLines,
      outlineTopOffset4: 0.6 * intervalBetweenStaveLines,
      yCorrection: -5.25 * intervalBetweenStaveLines
    },
    hundredTwentyEighthRest: {
      unicode: __UNICODE:hundredTwentyEighthRest__,
      points: [
        __POINTS:hundredTwentyEighthRest.points__
      ],
      outlineRadiusX: 0.8 * intervalBetweenStaveLines,
      outlineRadiusY: 0.4 * intervalBetweenStaveLines,
      outlineLeftOffset1: 0.6 * intervalBetweenStaveLines,
      outlineTopOffset1: -2.4 * intervalBetweenStaveLines,
      outlineLeftOffset2: 0.375 * intervalBetweenStaveLines,
      outlineTopOffset2: -1.4 * intervalBetweenStaveLines,
      outlineLeftOffset3: 0.15 * intervalBetweenStaveLines,
      outlineTopOffset3: -0.4 * intervalBetweenStaveLines,
      outlineLeftOffset4: -0.075 * intervalBetweenStaveLines,
      outlineTopOffset4: 0.6 * intervalBetweenStaveLines,
      outlineLeftOffset5: -0.3 * intervalBetweenStaveLines,
      outlineTopOffset5: 1.6 * intervalBetweenStaveLines,
      yCorrection: -5.25 * intervalBetweenStaveLines
    },
    twoHundredFiftySixthRest: {
      unicode: __UNICODE:twoHundredFiftySixthRest__,
      points: [
        __POINTS:twoHundredFiftySixthRest.points__
      ],
      outlineRadiusX: 0.8 * intervalBetweenStaveLines,
      outlineRadiusY: 0.4 * intervalBetweenStaveLines,
      outlineLeftOffset1: 0.9 * intervalBetweenStaveLines,
      outlineTopOffset1: -3.4 * intervalBetweenStaveLines,
      outlineLeftOffset2: 0.66 * intervalBetweenStaveLines,
      outlineTopOffset2: -2.4 * intervalBetweenStaveLines,
      outlineLeftOffset3: 0.42 * intervalBetweenStaveLines,
      outlineTopOffset3: -1.4 * intervalBetweenStaveLines,
      outlineLeftOffset4: 0.18 * intervalBetweenStaveLines,
      outlineTopOffset4: -0.4 * intervalBetweenStaveLines,
      outlineLeftOffset5: -0.06 * intervalBetweenStaveLines,
      outlineTopOffset5: 0.6 * intervalBetweenStaveLines,
      outlineLeftOffset6: -0.3 * intervalBetweenStaveLines,
      outlineTopOffset6: 1.6 * intervalBetweenStaveLines,
      yCorrection: -7.25 * intervalBetweenStaveLines
    },
    xDistanceBetweenSimileStrokes: -1.2 * intervalBetweenStaveLines,
    similePreviousMeasureStaveWidth: 5.0 * intervalBetweenStaveLines,
    simileTwoPreviousMeasuresStaveWidth: 10.0 * intervalBetweenStaveLines,
    singleMixedSimile: {
      unicode: __UNICODE:singleMixedSimile__,
      points: [
        __POINTS:singleMixedSimile.points__
      ],
      yCorrection: -1.05 * intervalBetweenStaveLines
    },
    mixedSimile: {
      unicode: __UNICODE:mixedSimile__,
      points: [
        __POINTS:mixedSimile.points__
      ],
      yCorrection: -1.05 * intervalBetweenStaveLines
    },
    simile: {
      unicode: __UNICODE:simile__,
      points: [
        __POINTS:simile.points__
      ],
      yCorrection: -1.05 * intervalBetweenStaveLines
    },
    oneTopFlag: {
      unicode: __UNICODE:oneTopFlag__,
      points: [
        __POINTS:oneTopFlag.points__
      ],
      yCorrection: -3.4 * intervalBetweenStaveLines
    },
    twoTopFlags: {
      unicode: __UNICODE:twoTopFlags__,
      points: [
        __POINTS:twoTopFlags.points__
      ],
      yCorrection: -3.4 * intervalBetweenStaveLines
    },
    threeTopFlags: {
      unicode: __UNICODE:threeTopFlags__,
      points: [
        __POINTS:threeTopFlags.points__
      ],
      yCorrection: -4.0 * intervalBetweenStaveLines
    },
    fourTopFlags: {
      unicode: __UNICODE:fourTopFlags__,
      points: [
        __POINTS:fourTopFlags.points__
      ],
      yCorrection: -4.8 * intervalBetweenStaveLines
    },
    fiveTopFlags: {
      unicode: __UNICODE:fiveTopFlags__,
      points: [
        __POINTS:fiveTopFlags.points__
      ],
      yCorrection: -5.5 * intervalBetweenStaveLines
    },
    sixTopFlags: {
      unicode: __UNICODE:sixTopFlags__,
      points: [
        __POINTS:sixTopFlags.points__
      ],
      yCorrection: -6.2 * intervalBetweenStaveLines
    },
    oneBottomFlag: {
      unicode: __UNICODE:oneBottomFlag__,
      points: [
        __POINTS:oneBottomFlag.points__
      ],
      yCorrection: -2.9 * intervalBetweenStaveLines
    },
    twoBottomFlags: {
      unicode: __UNICODE:twoBottomFlags__,
      points: [
        __POINTS:twoBottomFlags.points__
      ],
      yCorrection: -2.9 * intervalBetweenStaveLines
    },
    threeBottomFlags: {
      unicode: __UNICODE:threeBottomFlags__,
      points: [
        __POINTS:threeBottomFlags.points__
      ],
      yCorrection: -3.5 * intervalBetweenStaveLines
    },
    fourBottomFlags: {
      unicode: __UNICODE:fourBottomFlags__,
      points: [
        __POINTS:fourBottomFlags.points__
      ],
      yCorrection: -4.3 * intervalBetweenStaveLines
    },
    fiveBottomFlags: {
      unicode: __UNICODE:fiveBottomFlags__,
      points: [
        __POINTS:fiveBottomFlags.points__
      ],
      yCorrection: -5.1 * intervalBetweenStaveLines
    },
    sixBottomFlags: {
      unicode: __UNICODE:sixBottomFlags__,
      points: [
        __POINTS:sixBottomFlags.points__
      ],
      yCorrection: -5.8 * intervalBetweenStaveLines
    },
    breathMarkAsComma: {
      unicode: __UNICODE:breathMarkAsComma__,
      points: [
        __POINTS:breathMarkAsComma.points__
      ],
      yCorrection: -1.5 * intervalBetweenStaveLines
    },
    breathMarkAsDoubleSlash: {
      unicode: __UNICODE:breathMarkAsDoubleSlash__,
      points: [
        __POINTS:breathMarkAsDoubleSlash.points__
      ],
      yCorrection: -2.3 * intervalBetweenStaveLines
    },
    noteDot: {
      unicode: __UNICODE:noteDot__,
      points: [
        __POINTS:noteDot.points__
      ],
      yCorrection: -0.5 * intervalBetweenStaveLines
    },
    distanceBetweenDots: 0.25 * intervalBetweenStaveLines,
    emptyPaddingAroundDotsOnNonAddtionalStaveLines: 0.2 * intervalBetweenStaveLines,
    leftOffsetForDotsInSingleUnitWithNotesOnStaveLinesAndStemDirectionIsUpAndUnitDurationIsEqualToEighth: 1.2 * intervalBetweenStaveLines,
    leftOffsetForDotsInSingleUnitWithNotesOnStaveLinesAndStemDirectionIsUpAndUnitDurationIsLessThanEighth: 1.4 * intervalBetweenStaveLines,
    leftOffsetForDotsInSingleUnit: 0.5 * intervalBetweenStaveLines,
    noteLetters: {
      '0': {
        unicode: __UNICODE:noteLetters.0__,
        points: [
          __POINTS:noteLetters.0.points__
        ]
      },
      '1': {
        unicode: __UNICODE:noteLetters.1__,
        points: [
          __POINTS:noteLetters.1.points__
        ]
      },
      '2': {
        unicode: __UNICODE:noteLetters.2__,
        points: [
          __POINTS:noteLetters.2.points__
        ]
      },
      '3': {
        unicode: __UNICODE:noteLetters.3__,
        points: [
          __POINTS:noteLetters.3.points__
        ]
      },
      '4': {
        unicode: __UNICODE:noteLetters.4__,
        points: [
          __POINTS:noteLetters.4.points__
        ]
      },
      '5': {
        unicode: __UNICODE:noteLetters.5__,
        points: [
          __POINTS:noteLetters.5.points__
        ]
      },
      '6': {
        unicode: __UNICODE:noteLetters.6__,
        points: [
          __POINTS:noteLetters.6.points__
        ]
      },
      '7': {
        unicode: __UNICODE:noteLetters.7__,
        points: [
          __POINTS:noteLetters.7.points__
        ]
      },
      '8': {
        unicode: __UNICODE:noteLetters.8__,
        points: [
          __POINTS:noteLetters.8.points__
        ]
      },
      '9': {
        unicode: __UNICODE:noteLetters.9__,
        points: [
          __POINTS:noteLetters.9.points__
        ]
      },
      'T': {
        unicode: __UNICODE:noteLetters.T__,
        points: [
          __POINTS:noteLetters.T.points__
        ]
      },
      't': {
        unicode: __UNICODE:noteLetters.t__,
        points: [
          __POINTS:noteLetters.t.points__
        ]
      },
      'p': {
        unicode: __UNICODE:noteLetters.p__,
        points: [
          __POINTS:noteLetters.p.points__
        ]
      },
      'i': {
        unicode: __UNICODE:noteLetters.i__,
        points: [
          __POINTS:noteLetters.i.points__
        ]
      },
      'm': {
        unicode: __UNICODE:noteLetters.m__,
        points: [
          __POINTS:noteLetters.m.points__
        ]
      },
      'a': {
        unicode: __UNICODE:noteLetters.a__,
        points: [
          __POINTS:noteLetters.a.points__
        ]
      },
      'c': {
        unicode: __UNICODE:noteLetters.c__,
        points: [
          __POINTS:noteLetters.c.points__
        ]
      },
      'x': {
        unicode: __UNICODE:noteLetters.x__,
        points: [
          __POINTS:noteLetters.x.points__
        ]
      },
      'e': {
        unicode: __UNICODE:noteLetters.e__,
        points: [
          __POINTS:noteLetters.e.points__
        ]
      },
      'o': {
        unicode: __UNICODE:noteLetters.o__,
        points: [
          __POINTS:noteLetters.o.points__
        ]
      }
    },
    dynamicLetters: {
      'p': {
        unicode: __UNICODE:dynamicLetters.p__,
        points: [
          __POINTS:dynamicLetters.p.points__
        ]
      },
      'm': {
        unicode: __UNICODE:dynamicLetters.m__,
        points: [
          __POINTS:dynamicLetters.m.points__
        ]
      },
      'f': {
        unicode: __UNICODE:dynamicLetters.f__,
        points: [
          __POINTS:dynamicLetters.f.points__
        ]
      },
      'r': {
        unicode: __UNICODE:dynamicLetters.r__,
        points: [
          __POINTS:dynamicLetters.r.points__
        ]
      },
      's': {
        unicode: __UNICODE:dynamicLetters.s__,
        points: [
          __POINTS:dynamicLetters.s.points__
        ]
      },
      'z': {
        unicode: __UNICODE:dynamicLetters.z__,
        points: [
          __POINTS:dynamicLetters.z.points__
        ]
      },
      'pppppp': {
        unicode: __UNICODE:dynamicLetters.pppppp__,
        points: [
          __POINTS:dynamicLetters.pppppp.points__
        ]
      },
      'ppppp': {
        unicode: __UNICODE:dynamicLetters.ppppp__,
        points: [
          __POINTS:dynamicLetters.ppppp.points__
        ]
      },
      'pppp': {
        unicode: __UNICODE:dynamicLetters.pppp__,
        points: [
          __POINTS:dynamicLetters.pppp.points__
        ]
      },
      'ppp': {
        unicode: __UNICODE:dynamicLetters.ppp__,
        points: [
          __POINTS:dynamicLetters.ppp.points__
        ]
      },
      'pp': {
        unicode: __UNICODE:dynamicLetters.pp__,
        points: [
          __POINTS:dynamicLetters.pp.points__
        ]
      },
      'mp': {
        unicode: __UNICODE:dynamicLetters.mp__,
        points: [
          __POINTS:dynamicLetters.mp.points__
        ]
      },
      'mf': {
        unicode: __UNICODE:dynamicLetters.mf__,
        points: [
          __POINTS:dynamicLetters.mf.points__
        ]
      },
      'pf': {
        unicode: __UNICODE:dynamicLetters.pf__,
        points: [
          __POINTS:dynamicLetters.pf.points__
        ]
      },
      'ff': {
        unicode: __UNICODE:dynamicLetters.ff__,
        points: [
          __POINTS:dynamicLetters.ff.points__
        ]
      },
      'fff': {
        unicode: __UNICODE:dynamicLetters.fff__,
        points: [
          __POINTS:dynamicLetters.fff.points__
        ]
      },
      'ffff': {
        unicode: __UNICODE:dynamicLetters.ffff__,
        points: [
          __POINTS:dynamicLetters.ffff.points__
        ]
      },
      'fffff': {
        unicode: __UNICODE:dynamicLetters.fffff__,
        points: [
          __POINTS:dynamicLetters.fffff.points__
        ]
      },
      'ffffff': {
        unicode: __UNICODE:dynamicLetters.ffffff__,
        points: [
          __POINTS:dynamicLetters.ffffff.points__
        ]
      },
      'fp': {
        unicode: __UNICODE:dynamicLetters.fp__,
        points: [
          __POINTS:dynamicLetters.fp.points__
        ]
      },
      'fz': {
        unicode: __UNICODE:dynamicLetters.fz__,
        points: [
          __POINTS:dynamicLetters.fz.points__
        ]
      },
      'sf': {
        unicode: __UNICODE:dynamicLetters.sf__,
        points: [
          __POINTS:dynamicLetters.sf.points__
        ]
      },
      'sfp': {
        unicode: __UNICODE:dynamicLetters.sfp__,
        points: [
          __POINTS:dynamicLetters.sfp.points__
        ]
      },
      'sfpp': {
        unicode: __UNICODE:dynamicLetters.sfpp__,
        points: [
          __POINTS:dynamicLetters.sfpp.points__
        ]
      },
      'sfz': {
        unicode: __UNICODE:dynamicLetters.sfz__,
        points: [
          __POINTS:dynamicLetters.sfz.points__
        ]
      },
      'sfzp': {
        unicode: __UNICODE:dynamicLetters.sfzp__,
        points: [
          __POINTS:dynamicLetters.sfzp.points__
        ]
      },
      'sffz': {
        unicode: __UNICODE:dynamicLetters.sffz__,
        points: [
          __POINTS:dynamicLetters.sffz.points__
        ]
      },
      'rf': {
        unicode: __UNICODE:dynamicLetters.rf__,
        points: [
          __POINTS:dynamicLetters.rf.points__
        ]
      },
      'rfz': {
        unicode: __UNICODE:dynamicLetters.rfz__,
        points: [
          __POINTS:dynamicLetters.rfz.points__
        ]
      }
    },
    octaveSignLetters: {
      '8va-up': {
        unicode: __UNICODE:octaveSignLetters.8va-up__,
        points: [
          __POINTS:octaveSignLetters.8va-up.points__
        ]
      },
      '8va-down': {
        unicode: __UNICODE:octaveSignLetters.8va-down__,
        points: [
          __POINTS:octaveSignLetters.8va-down.points__
        ]
      },
      '15ma-up': {
        unicode: __UNICODE:octaveSignLetters.15ma-up__,
        points: [
          __POINTS:octaveSignLetters.15ma-up.points__
        ]
      },
      '15ma-down': {
        unicode: __UNICODE:octaveSignLetters.15ma-down__,
        points: [
          __POINTS:octaveSignLetters.15ma-down.points__
        ]
      }
    },
    pedalLetters: {
      'Ped.': {
        unicode: __UNICODE:pedalLetters.Ped.__,
        points: [
          __POINTS:pedalLetters.Ped..points__
        ]
      },
      'Ped': {
        unicode: __UNICODE:pedalLetters.Ped__,
        points: [
          __POINTS:pedalLetters.Ped.points__
        ]
      },
      'P': {
        unicode: __UNICODE:pedalLetters.P__,
        points: [
          __POINTS:pedalLetters.P.points__
        ]
      },
      'e': {
        unicode: __UNICODE:pedalLetters.e__,
        points: [
          __POINTS:pedalLetters.e.points__
        ]
      },
      'd': {
        unicode: __UNICODE:pedalLetters.d__,
        points: [
          __POINTS:pedalLetters.d.points__
        ]
      },
      'Soft.': {
        unicode: __UNICODE:pedalLetters.Soft.__,
        points: [
          __POINTS:pedalLetters.Soft..points__
        ]
      },
      'Soft': {
        unicode: __UNICODE:pedalLetters.Soft__,
        points: [
          __POINTS:pedalLetters.Soft.points__
        ]
      },
      'S': {
        unicode: __UNICODE:pedalLetters.S__,
        points: [
          __POINTS:pedalLetters.S.points__
        ]
      }
    },
    releasePedal: {
      unicode: __UNICODE:releasePedal__,
      points: [
        __POINTS:releasePedal.points__
      ]
    },
    tupletLetters: {
      '0': {
        unicode: __UNICODE:tupletLetters.0__,
        points: [
          __POINTS:tupletLetters.0.points__
        ]
      },
      '1': {
        unicode: __UNICODE:tupletLetters.1__,
        points: [
          __POINTS:tupletLetters.1.points__
        ]
      },
      '2': {
        unicode: __UNICODE:tupletLetters.2__,
        points: [
          __POINTS:tupletLetters.2.points__
        ]
      },
      '3': {
        unicode: __UNICODE:tupletLetters.3__,
        points: [
          __POINTS:tupletLetters.3.points__
        ]
      },
      '4': {
        unicode: __UNICODE:tupletLetters.4__,
        points: [
          __POINTS:tupletLetters.4.points__
        ]
      },
      '5': {
        unicode: __UNICODE:tupletLetters.5__,
        points: [
          __POINTS:tupletLetters.5.points__
        ]
      },
      '6': {
        unicode: __UNICODE:tupletLetters.6__,
        points: [
          __POINTS:tupletLetters.6.points__
        ]
      },
      '7': {
        unicode: __UNICODE:tupletLetters.7__,
        points: [
          __POINTS:tupletLetters.7.points__
        ]
      },
      '8': {
        unicode: __UNICODE:tupletLetters.8__,
        points: [
          __POINTS:tupletLetters.8.points__
        ]
      },
      '9': {
        unicode: __UNICODE:tupletLetters.9__,
        points: [
          __POINTS:tupletLetters.9.points__
        ]
      },
      ':': {
        unicode: __UNICODE:tupletLetters.:__,
        points: [
          __POINTS:tupletLetters.:.points__
        ],
        yCorrection: 0.7 * intervalBetweenStaveLines
      }
    },
    timeSignatureLetters: {
      '0': {
        unicode: __UNICODE:timeSignatureLetters.0__,
        points: [
          __POINTS:timeSignatureLetters.0.points__
        ]
      },
      '1': {
        unicode: __UNICODE:timeSignatureLetters.1__,
        points: [
          __POINTS:timeSignatureLetters.1.points__
        ]
      },
      '2': {
        unicode: __UNICODE:timeSignatureLetters.2__,
        points: [
          __POINTS:timeSignatureLetters.2.points__
        ]
      },
      '3': {
        unicode: __UNICODE:timeSignatureLetters.3__,
        points: [
          __POINTS:timeSignatureLetters.3.points__
        ]
      },
      '4': {
        unicode: __UNICODE:timeSignatureLetters.4__,
        points: [
          __POINTS:timeSignatureLetters.4.points__
        ]
      },
      '5': {
        unicode: __UNICODE:timeSignatureLetters.5__,
        points: [
          __POINTS:timeSignatureLetters.5.points__
        ]
      },
      '6': {
        unicode: __UNICODE:timeSignatureLetters.6__,
        points: [
          __POINTS:timeSignatureLetters.6.points__
        ]
      },
      '7': {
        unicode: __UNICODE:timeSignatureLetters.7__,
        points: [
          __POINTS:timeSignatureLetters.7.points__
        ]
      },
      '8': {
        unicode: __UNICODE:timeSignatureLetters.8__,
        points: [
          __POINTS:timeSignatureLetters.8.points__
        ]
      },
      '9': {
        unicode: __UNICODE:timeSignatureLetters.9__,
        points: [
          __POINTS:timeSignatureLetters.9.points__
        ]
      },
      'c': {
        unicode: __UNICODE:timeSignatureLetters.c__,
        points: [
          __POINTS:timeSignatureLetters.c.points__
        ]
      },
      'crossedC': {
        unicode: __UNICODE:timeSignatureLetters.crossedC__,
        points: [
          __POINTS:timeSignatureLetters.crossedC.points__
        ]
      }
    },
    cTimeTopOffset: 0.0 * intervalBetweenStaveLines,
    croccedCTimeTopOffset: -0.88 * intervalBetweenStaveLines,
    numeratorTopOffset: -0.9 * intervalBetweenStaveLines ,
    denominatorTopOffset: 1.1 * intervalBetweenStaveLines,
    tempoLetters: {
      'fontSize': 2.5, // for font-viewer (except whole)
      'whole': {
        unicode: __UNICODE:tempoLetters.whole__,
        points: [
          __POINTS:tempoLetters.whole.points__
        ],
        yCorrection: -0.9 * intervalBetweenStaveLines
      },
      'half': {
        unicode: __UNICODE:tempoLetters.half__,
        points: [
          __POINTS:tempoLetters.half.points__
        ],
        yCorrection: -2 * intervalBetweenStaveLines
      },
      'quarter': {
        unicode: __UNICODE:tempoLetters.quarter__,
        points: [
          __POINTS:tempoLetters.quarter.points__
        ],
        yCorrection: -2 * intervalBetweenStaveLines
      },
      'eighth': {
        unicode: __UNICODE:tempoLetters.eighth__,
        points: [
          __POINTS:tempoLetters.eighth.points__
        ],
        yCorrection: -2 * intervalBetweenStaveLines
      },
      'sixteenth': {
        unicode: __UNICODE:tempoLetters.sixteenth__,
        points: [
          __POINTS:tempoLetters.sixteenth.points__
        ],
        yCorrection: -2 * intervalBetweenStaveLines
      },
      'thirtySecond': {
        unicode: __UNICODE:tempoLetters.thirtySecond__,
        points: [
          __POINTS:tempoLetters.thirtySecond.points__
        ],
        yCorrection: -2.3 * intervalBetweenStaveLines
      },
      'sixtyFourth': {
        unicode: __UNICODE:tempoLetters.sixtyFourth__,
        points: [
          __POINTS:tempoLetters.sixtyFourth.points__
        ],
        yCorrection: -2.75 * intervalBetweenStaveLines
      },
      'wholeDotted': {
        unicode: __UNICODE:tempoLetters.wholeDotted__,
        points: [
          __POINTS:tempoLetters.wholeDotted.points__
        ],
        yCorrection: -0.9 * intervalBetweenStaveLines
      },
      'halfDotted': {
        unicode: __UNICODE:tempoLetters.halfDotted__,
        points: [
          __POINTS:tempoLetters.halfDotted.points__
        ],
        yCorrection: -2 * intervalBetweenStaveLines
      },
      'quarterDotted': {
        unicode: __UNICODE:tempoLetters.quarterDotted__,
        points: [
          __POINTS:tempoLetters.quarterDotted.points__
        ],
        yCorrection: -2 * intervalBetweenStaveLines
      },
      'eighthDotted': {
        unicode: __UNICODE:tempoLetters.eighthDotted__,
        points: [
          __POINTS:tempoLetters.eighthDotted.points__
        ],
        yCorrection: -2 * intervalBetweenStaveLines
      },
      'sixteenthDotted': {
        unicode: __UNICODE:tempoLetters.sixteenthDotted__,
        points: [
          __POINTS:tempoLetters.sixteenthDotted.points__
        ],
        yCorrection: -2 * intervalBetweenStaveLines
      },
      'thirtySecondDotted': {
        unicode: __UNICODE:tempoLetters.thirtySecondDotted__,
        points: [
          __POINTS:tempoLetters.thirtySecondDotted.points__
        ],
        yCorrection: -2.3 * intervalBetweenStaveLines
      },
      'sixtyFourthDotted': {
        unicode: __UNICODE:tempoLetters.sixtyFourthDotted__,
        points: [
          __POINTS:tempoLetters.sixtyFourthDotted.points__
        ],
        yCorrection: -2.75 * intervalBetweenStaveLines
      }
    },
    curlySmallBrace: {
      unicode: __UNICODE:curlySmallBrace__,
      minHeight: 0 * MUSCIC_FONT_SOURCE_SIZE * defaultIntervalBetweenStaveLines,
      maxHeight: 2 * MUSCIC_FONT_SOURCE_SIZE * defaultIntervalBetweenStaveLines
    },
    curlyLargeBrace: {
      unicode: __UNICODE:curlyLargeBrace__,
      minHeight: 2 * MUSCIC_FONT_SOURCE_SIZE * defaultIntervalBetweenStaveLines,
      maxHeight: 8 * MUSCIC_FONT_SOURCE_SIZE * defaultIntervalBetweenStaveLines
    },
    curlyLargerBrace: {
      unicode: __UNICODE:curlyLargerBrace__,
      minHeight: 8 * MUSCIC_FONT_SOURCE_SIZE * defaultIntervalBetweenStaveLines,
      maxHeight: 12 * MUSCIC_FONT_SOURCE_SIZE * defaultIntervalBetweenStaveLines
    },
    curlyFlatBrace: {
      unicode: __UNICODE:curlyFlatBrace__,
      minHeight: 12 * MUSCIC_FONT_SOURCE_SIZE * defaultIntervalBetweenStaveLines,
      maxHeight: Infinity
    },
    spaceAfterBrace: 0.4 * intervalBetweenStaveLines,
    bracketLineWidth: 0.4 * intervalBetweenStaveLines,
    bracketTop: {
      unicode: __UNICODE:bracketTop__,
      points: [
        __POINTS:bracketTop.points__
      ]
    },
    bracketBottom: {
      unicode: __UNICODE:bracketBottom__,
      points: [
        __POINTS:bracketBottom.points__
      ]
    },
    bracketXCorrection: 0.8 * intervalBetweenStaveLines,
    repeatDots: {
      unicode: __UNICODE:repeatDots__,
      points: [
        __POINTS:repeatDots.points__
      ],
      yCorrection: 2.55 * intervalBetweenStaveLines
    },
    repeatDotsPadding: 0.4 * intervalBetweenStaveLines,
    trillWavePeriod: {
      'unicode': '',
      points: [
        'M',
        0.00 * intervalBetweenStaveLines, -0.06 * intervalBetweenStaveLines,
        'C',
        0.00 * intervalBetweenStaveLines, -0.05 * intervalBetweenStaveLines, 0.01 * intervalBetweenStaveLines, -0.04 * intervalBetweenStaveLines, 0.02 * intervalBetweenStaveLines, -0.04 * intervalBetweenStaveLines,
        'C',
        0.09 * intervalBetweenStaveLines, -0.04 * intervalBetweenStaveLines, 0.16 * intervalBetweenStaveLines, -0.10 * intervalBetweenStaveLines, 0.20 * intervalBetweenStaveLines, -0.14 * intervalBetweenStaveLines,
        'C',
        0.21 * intervalBetweenStaveLines, -0.15 * intervalBetweenStaveLines, 0.24 * intervalBetweenStaveLines, -0.16 * intervalBetweenStaveLines, 0.27 * intervalBetweenStaveLines, -0.16 * intervalBetweenStaveLines,
        'C',
        0.48 * intervalBetweenStaveLines, -0.16 * intervalBetweenStaveLines, 0.48 * intervalBetweenStaveLines, 0.05 * intervalBetweenStaveLines, 0.76 * intervalBetweenStaveLines, 0.05 * intervalBetweenStaveLines,
        'C',
        0.85 * intervalBetweenStaveLines, 0.05 * intervalBetweenStaveLines, 0.99 * intervalBetweenStaveLines, 0.01 * intervalBetweenStaveLines, 1.14 * intervalBetweenStaveLines, -0.12 * intervalBetweenStaveLines,
        'C',
        1.19 * intervalBetweenStaveLines, -0.17 * intervalBetweenStaveLines, 1.22 * intervalBetweenStaveLines, -0.22 * intervalBetweenStaveLines, 1.22 * intervalBetweenStaveLines, -0.25 * intervalBetweenStaveLines,
        'C',
        1.22 * intervalBetweenStaveLines, -0.26 * intervalBetweenStaveLines, 1.22 * intervalBetweenStaveLines, -0.26 * intervalBetweenStaveLines, 1.21 * intervalBetweenStaveLines, -0.27 * intervalBetweenStaveLines,
        'C',
        1.21 * intervalBetweenStaveLines, -0.27 * intervalBetweenStaveLines, 1.20 * intervalBetweenStaveLines, -0.27 * intervalBetweenStaveLines, 1.20 * intervalBetweenStaveLines, -0.27 * intervalBetweenStaveLines,
        'C',
        1.16 * intervalBetweenStaveLines, -0.27 * intervalBetweenStaveLines, 1.11 * intervalBetweenStaveLines, -0.25 * intervalBetweenStaveLines, 1.06 * intervalBetweenStaveLines, -0.20 * intervalBetweenStaveLines,
        'C',
        1.04 * intervalBetweenStaveLines, -0.20 * intervalBetweenStaveLines, 1.00 * intervalBetweenStaveLines, -0.18 * intervalBetweenStaveLines, 0.97 * intervalBetweenStaveLines, -0.18 * intervalBetweenStaveLines,
        'C',
        0.76 * intervalBetweenStaveLines, -0.18 * intervalBetweenStaveLines, 0.76 * intervalBetweenStaveLines, -0.39 * intervalBetweenStaveLines, 0.48 * intervalBetweenStaveLines, -0.39 * intervalBetweenStaveLines,
        'C',
        0.39 * intervalBetweenStaveLines, -0.39 * intervalBetweenStaveLines, 0.26 * intervalBetweenStaveLines, -0.33 * intervalBetweenStaveLines, 0.13 * intervalBetweenStaveLines, -0.23 * intervalBetweenStaveLines,
        'L',
        0.05 * intervalBetweenStaveLines, -0.16 * intervalBetweenStaveLines,
        'C',
        0.02 * intervalBetweenStaveLines, -0.12 * intervalBetweenStaveLines, 0.00 * intervalBetweenStaveLines, -0.09 * intervalBetweenStaveLines, 0.00 * intervalBetweenStaveLines, -0.06 * intervalBetweenStaveLines,
        'Z'
      ],
      intersectionLength: 0.25 * intervalBetweenStaveLines,
      yCorrection: 0 * intervalBetweenStaveLines
    },
    glissandoWavePeriod: {
      'unicode': '',
      points: [
        'M',
        0.00 * intervalBetweenStaveLines, -0.06 * intervalBetweenStaveLines,
        'C',
        0.00 * intervalBetweenStaveLines, -0.05 * intervalBetweenStaveLines, 0.01 * intervalBetweenStaveLines, -0.04 * intervalBetweenStaveLines, 0.02 * intervalBetweenStaveLines, -0.04 * intervalBetweenStaveLines,
        'C',
        0.09 * intervalBetweenStaveLines, -0.04 * intervalBetweenStaveLines, 0.16 * intervalBetweenStaveLines, -0.10 * intervalBetweenStaveLines, 0.20 * intervalBetweenStaveLines, -0.14 * intervalBetweenStaveLines,
        'C',
        0.21 * intervalBetweenStaveLines, -0.15 * intervalBetweenStaveLines, 0.24 * intervalBetweenStaveLines, -0.16 * intervalBetweenStaveLines, 0.27 * intervalBetweenStaveLines, -0.16 * intervalBetweenStaveLines,
        'C',
        0.48 * intervalBetweenStaveLines, -0.16 * intervalBetweenStaveLines, 0.48 * intervalBetweenStaveLines, 0.05 * intervalBetweenStaveLines, 0.76 * intervalBetweenStaveLines, 0.05 * intervalBetweenStaveLines,
        'C',
        0.85 * intervalBetweenStaveLines, 0.05 * intervalBetweenStaveLines, 0.99 * intervalBetweenStaveLines, 0.01 * intervalBetweenStaveLines, 1.14 * intervalBetweenStaveLines, -0.12 * intervalBetweenStaveLines,
        'C',
        1.19 * intervalBetweenStaveLines, -0.17 * intervalBetweenStaveLines, 1.22 * intervalBetweenStaveLines, -0.22 * intervalBetweenStaveLines, 1.22 * intervalBetweenStaveLines, -0.25 * intervalBetweenStaveLines,
        'C',
        1.22 * intervalBetweenStaveLines, -0.26 * intervalBetweenStaveLines, 1.22 * intervalBetweenStaveLines, -0.26 * intervalBetweenStaveLines, 1.21 * intervalBetweenStaveLines, -0.27 * intervalBetweenStaveLines,
        'C',
        1.21 * intervalBetweenStaveLines, -0.27 * intervalBetweenStaveLines, 1.20 * intervalBetweenStaveLines, -0.27 * intervalBetweenStaveLines, 1.20 * intervalBetweenStaveLines, -0.27 * intervalBetweenStaveLines,
        'C',
        1.16 * intervalBetweenStaveLines, -0.27 * intervalBetweenStaveLines, 1.11 * intervalBetweenStaveLines, -0.25 * intervalBetweenStaveLines, 1.06 * intervalBetweenStaveLines, -0.20 * intervalBetweenStaveLines,
        'C',
        1.04 * intervalBetweenStaveLines, -0.20 * intervalBetweenStaveLines, 1.00 * intervalBetweenStaveLines, -0.18 * intervalBetweenStaveLines, 0.97 * intervalBetweenStaveLines, -0.18 * intervalBetweenStaveLines,
        'C',
        0.76 * intervalBetweenStaveLines, -0.18 * intervalBetweenStaveLines, 0.76 * intervalBetweenStaveLines, -0.39 * intervalBetweenStaveLines, 0.48 * intervalBetweenStaveLines, -0.39 * intervalBetweenStaveLines,
        'C',
        0.39 * intervalBetweenStaveLines, -0.39 * intervalBetweenStaveLines, 0.26 * intervalBetweenStaveLines, -0.33 * intervalBetweenStaveLines, 0.13 * intervalBetweenStaveLines, -0.23 * intervalBetweenStaveLines,
        'L',
        0.05 * intervalBetweenStaveLines, -0.16 * intervalBetweenStaveLines,
        'C',
        0.02 * intervalBetweenStaveLines, -0.12 * intervalBetweenStaveLines, 0.00 * intervalBetweenStaveLines, -0.09 * intervalBetweenStaveLines, 0.00 * intervalBetweenStaveLines, -0.06 * intervalBetweenStaveLines,
        'Z'
      ],
      intersectionLength: 0.25 * intervalBetweenStaveLines,
      yCorrection: 0 * intervalBetweenStaveLines
    },
    arpeggioWavePeriod: {
      unicode: __UNICODE:arpeggioWavePeriod__,
      points: [
        __POINTS:arpeggioWavePeriod.points__
      ],
      intersectionLength: 0.25 * intervalBetweenStaveLines,
      yCorrection: -0.25 * intervalBetweenStaveLines
    },
    arpeggioWaveWithArrowPeriod: {
      unicode: __UNICODE:arpeggioWaveWithArrowPeriod__,
      points: [
        __POINTS:arpeggioWaveWithArrowPeriod.points__
      ],
      intersectionLength: 0.25 * intervalBetweenStaveLines,
      yCorrection: -0.85 * intervalBetweenStaveLines
    }
  }
}
